openapi: 3.0.3
info:
  title: PCU Contractor Mobile App API
  version: "1.0.0"
  description: |
    API reference for the **Palestinian Contractors Union (PCU) contractor mobile app** only.
    Dashboard/admin endpoints (`/dashboard/*`, `/admin/*`, `/auth/*` for staff users, reports, etc.)
    are intentionally excluded.

    Generated from the Laravel backend source (`arab-contractors-union-api`, branch
    `feature/arab-contractors-union`, commit `1ef1227`) by reading `routes/api.php`, the controllers,
    form requests and resources. The mobile app source was not available, so this documents what the
    server exposes, not necessarily every call the app makes today.

    ## Response envelope
    Almost every endpoint wraps its payload in a unified envelope:

    ```json
    { "status": true, "message": "…", "status_code": 200, "items": { … } }
    ```

    * `items` holds the payload (object or array). It is omitted when there is no payload.
    * Paginated lists add a `meta` object (`current_page`, `last_page`, `per_page`, `total`).
    * Errors: `{ "status": false, "message": "…", "status_code": 4xx, "error": "machine_key?", "errors": { … }? }`.
      `error` is a stable machine-readable key (e.g. `invalid_credentials`, `otp_cooldown`) when the
      controller sets one. Validation errors (422) put the first message in `message` and all
      field errors in `errors`.
    * **Exceptions to the envelope** are flagged on each operation (e.g. `GET /terms` returns a bare array,
      PDF endpoints return binary).

    ## Language
    User-facing `message` strings are Arabic. The `X-Locale` header (`ar` | `en`) or `Accept-Language`
    controls framework validation messages; default is `ar`. Controller-written messages are always Arabic.

    ## Authentication
    Contractor endpoints use **Laravel Sanctum bearer tokens**: `Authorization: Bearer <token>`.
    A token is returned by `login`, `set-password`, `forgot-password/reset` and `change-password`.
    Only one active session per contractor: logging in deletes all previous tokens.

    Token lifetime: tokens are created with a 60-day `expires_at`, **but** `config/sanctum.php`
    sets a global `expiration` of `SANCTUM_TOKEN_EXPIRATION` minutes (default 10080 = 7 days), and
    Sanctum enforces whichever is shorter. ⚠️ Unless the server env overrides it, tokens effectively
    expire after 7 days — verify `SANCTUM_TOKEN_EXPIRATION` on the server.

    Every protected request also passes the `contractor.active` middleware: if the account was frozen
    from the dashboard, all tokens are revoked and the response is `403` with
    `{"error":"account_frozen","force_logout":true}` — the app must clear its session.

    ## Rate limits
    * Auth endpoints (`/contractor/auth/login`, registration, OTP, forgot password): **5 requests / minute / IP** (`429`).
    * OTP sending has its own **35-second cooldown** per contractor+purpose (`429`, `error: otp_cooldown`, `errors.expires_in` seconds left).

    ## Membership numbers
    Format is `<number>_g` (e.g. `184_g`). Login also accepts the bare number (`184`), which is normalized to `184_g`.

    ## Money
    Dues, balances and credits are in **JOD**. Transfers may be submitted in `JOD`, `ILS` or `USD`;
    the accountant converts to JOD on confirmation.
  contact:
    name: PCU
servers:
  - url: https://api-production.pcuorg.cloud/api/v1
    description: Production
  - url: https://api.pcuorg.cloud/api/v1
    description: Staging

tags:
  - name: Auth
    description: Login, registration (activation), OTP and password recovery. Public.
  - name: Profile
    description: The signed-in contractor's profile, files and password.
  - name: Notifications
    description: In-app notification inbox (two systems, see each operation).
  - name: Home
    description: Home screen aggregate and the updates feed.
  - name: Membership & Finance
    description: Subscription status, dues, financial statement, balance, renewal eligibility.
  - name: Payments
    description: Bank-transfer submission and tracking.
  - name: Documents
    description: Contractor-uploaded documents.
  - name: Certificates
    description: Membership certificate requests and public QR verification.
  - name: Support
    description: Support tickets.
  - name: Tenders
    description: Tender browsing (authenticated and public) and bookmarks.
  - name: Circulars & Announcements
    description: Pinned circulars needing acknowledgement, and the public announcements archive.
  - name: Events
    description: Events browsing and RSVP.
  - name: News
    description: Public news.
  - name: Equipment Marketplace
    description: My equipment, marketplace browsing, reservations, reports and packages.
  - name: App Content
    description: Public settings, contact, about, terms, legal library, bank accounts, lookups.

security:
  - bearerAuth: []

paths:
  # ===================================================================
  # AUTH (public)
  # ===================================================================
  /contractor/auth/login:
    post:
      tags: [Auth]
      summary: Log in with membership number and password
      description: |
        Checks membership first, then password, then eligibility (frozen account / phone not verified).
        Deletes all previous tokens (single active session). Updates `fcm_token` if sent.
        Rate limited to 5/min/IP.
      operationId: contractorLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [membership_number, password]
              properties:
                membership_number:
                  type: string
                  description: With or without the `_g` suffix.
                  example: "184_g"
                password:
                  type: string
                  format: password
                  example: "secret123"
                fcm_token:
                  type: string
                  nullable: true
                  description: Firebase Cloud Messaging device token for push notifications.
                device_name:
                  type: string
                  maxLength: 120
                  nullable: true
                  description: Token label. Defaults to the User-Agent.
      responses:
        "200":
          description: Logged in.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          token: { type: string, example: "12|aBcD…" }
                          token_type: { type: string, example: Bearer }
                          user: { $ref: "#/components/schemas/ContractorLite" }
        "401":
          description: "Wrong password (`error: invalid_credentials`)."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "403":
          description: "`error: account_frozen` or `phone_not_verified` (registration not completed)."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: "No contractor with this membership number (`error: no_membership`)."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /contractor/auth/verify-identity:
    post:
      tags: [Auth]
      summary: "Registration step 1: verify phone and send OTP"
      description: |
        App account activation for a contractor that already exists in the union database
        (created by the union). Looks the contractor up by phone, records terms acceptance,
        and sends a 6-digit OTP by SMS (purpose `register`).
      operationId: registerVerifyIdentity
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, terms_accepted]
              properties:
                phone: { type: string, example: "0599123456" }
                terms_accepted:
                  type: boolean
                  description: Must be accepted (`true`, `1`, `"yes"`, `"on"`).
                  example: true
      responses:
        "200":
          description: OTP sent.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          id: { type: integer }
                          name: { type: string }
                          authorized_person: { type: string, nullable: true }
                          phone: { type: string }
                          commercial_register: { type: string, nullable: true }
                          membership_number: { type: string }
                          has_password: { type: boolean }
                          otp_required: { type: boolean, example: true }
                          expires_in: { $ref: "#/components/schemas/OtpCooldownSeconds" }
                          otp_preview: { $ref: "#/components/schemas/OtpPreview" }
        "403":
          description: "Account frozen (`error: account_inactive`)."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: "No contractor with this phone (`error: contractor_not_found`)."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "422":
          description: "`no_membership_number`, `already_registered`, or validation error."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429": { $ref: "#/components/responses/OtpCooldown" }

  /contractor/auth/verify-otp:
    post:
      tags: [Auth]
      summary: "Registration step 2: confirm OTP (marks phone verified)"
      operationId: registerVerifyOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, otp]
              properties:
                phone: { type: string, example: "0599123456" }
                otp: { type: string, minLength: 6, maxLength: 6, example: "482913" }
      responses:
        "200":
          description: |
            Phone verified. If `has_password` is false, continue with `set-password`;
            otherwise the contractor can log in.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          id: { type: integer }
                          name: { type: string }
                          authorized_person: { type: string, nullable: true }
                          commercial_register: { type: string, nullable: true }
                          membership_number: { type: string }
                          phone: { type: string }
                          phone_verified: { type: boolean, example: true }
                          has_password: { type: boolean }
        "403":
          description: "`account_inactive` (frozen)."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: "`contractor_not_found`."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "422":
          description: "`invalid_otp` (wrong or expired) or validation error."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /contractor/auth/resend-otp:
    post:
      tags: [Auth]
      summary: Resend the registration OTP
      operationId: registerResendOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, example: "0599123456" }
      responses:
        "200":
          description: New OTP sent.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          phone: { type: string }
                          otp_required: { type: boolean }
                          expires_in: { $ref: "#/components/schemas/OtpCooldownSeconds" }
                          otp_preview: { $ref: "#/components/schemas/OtpPreview" }
        "403":
          description: "`account_inactive`."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: "`contractor_not_found`."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "422":
          description: "`already_verified` or validation error."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429": { $ref: "#/components/responses/OtpCooldown" }

  /contractor/auth/set-password:
    post:
      tags: [Auth]
      summary: "Registration step 3: set password (returns a token)"
      description: |
        Requires the phone to be verified and no existing password. Sets the account status from
        `pending` to `active`, notifies admins, and logs the contractor in.
      operationId: registerSetPassword
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password, password_confirmation]
              properties:
                phone: { type: string, example: "0599123456" }
                password: { type: string, format: password, minLength: 8 }
                password_confirmation: { type: string, format: password }
                fcm_token: { type: string, maxLength: 500, nullable: true }
      responses:
        "200":
          description: Account activated and logged in.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          token: { type: string }
                          token_type: { type: string, example: Bearer }
                          user: { $ref: "#/components/schemas/ContractorAuthMini" }
        "403":
          description: "`account_inactive`."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: "`contractor_not_found`."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "422":
          description: "`no_membership_number`, `phone_not_verified`, `already_registered`, `password_mismatch`, or validation error."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /contractor/auth/forgot-password/send-otp:
    post:
      tags: [Auth]
      summary: "Forgot password step 1: send OTP"
      operationId: forgotPasswordSendOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, example: "0599123456" }
      responses:
        "200":
          description: OTP sent.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          id: { type: integer }
                          membership_number: { type: string }
                          phone: { type: string }
                          expires_in: { $ref: "#/components/schemas/OtpCooldownSeconds" }
                          otp_preview: { $ref: "#/components/schemas/OtpPreview" }
        "403":
          description: "`account_inactive`."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: "`contractor_not_found`."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { $ref: "#/components/responses/OtpCooldown" }

  /contractor/auth/forgot-password/reset:
    post:
      tags: [Auth]
      summary: "Forgot password step 2: reset with OTP (returns a token)"
      description: Also marks the phone as verified if it was not. Revokes all previous tokens.
      operationId: forgotPasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, otp, password, password_confirmation]
              properties:
                phone: { type: string }
                otp: { type: string, minLength: 6, maxLength: 6 }
                password: { type: string, format: password, minLength: 8 }
                password_confirmation: { type: string, format: password }
      responses:
        "200":
          description: Password reset and logged in.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          token: { type: string }
                          token_type: { type: string, example: Bearer }
                          user: { $ref: "#/components/schemas/ContractorAuthMini" }
        "403":
          description: "`account_inactive`."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: "`contractor_not_found`."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "422":
          description: "`invalid_otp` or validation error."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ===================================================================
  # PROFILE (protected)
  # ===================================================================
  /contractor/auth/logout:
    post:
      tags: [Auth]
      summary: Log out (revoke the current token)
      operationId: contractorLogout
      responses:
        "200": { $ref: "#/components/responses/OkNoItems" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/auth/profile:
    get:
      tags: [Profile]
      summary: Get the full profile
      operationId: getProfile
      responses:
        "200":
          description: Full profile.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/ContractorFull" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
    patch:
      tags: [Profile]
      summary: Quick profile update (phone, location, address, FCM token)
      description: |
        Lightweight update. Company name and other locked fields cannot be changed here.
        ⚠️ Unlike `profile/update`, this endpoint does **not** require OTP verification for a new phone.
        Admins are notified of changed fields.
      operationId: patchProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone: { type: string, maxLength: 20, description: Must be unique. }
                governorate_id: { type: integer, nullable: true }
                city_id:
                  type: integer
                  nullable: true
                  description: Must belong to `governorate_id` when both are sent.
                address: { type: string, nullable: true }
                fcm_token: { type: string, nullable: true }
      responses:
        "200":
          description: Updated profile.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/ContractorFull" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /contractor/auth/profile/update:
    post:
      tags: [Profile]
      summary: Full profile update with file uploads
      description: |
        `multipart/form-data`. All fields optional; send only what changes.

        **Locked fields** (ignored if sent, admin-only): `name`, `membership_number`,
        `commercial_register`, `owner_name`, `authorized_person*`, `partners`, `specialties`,
        `classification`. Attempts to change `classification`/`specialties` are logged server-side.

        **Changing the phone** requires `profile/phone/request-otp` + `profile/phone/verify-otp`
        first (within 15 minutes), otherwise `422 phone_verification_required`.

        An empty `established_date` is ignored (does not clear the stored date).
        Each uploaded file replaces the previous one. Admins are notified of changed text fields.
      operationId: updateFullProfile
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                established_date: { type: string, format: date, nullable: true }
                email: { type: string, format: email, nullable: true, description: Unique. }
                phone: { type: string, maxLength: 20, nullable: true, description: Unique; needs prior OTP verification if changed. }
                governorate_id: { type: integer, nullable: true }
                city_id: { type: integer, nullable: true }
                address: { type: string, nullable: true }
                notes: { type: string, nullable: true }
                fax: { type: string, maxLength: 50, nullable: true }
                district: { type: string, maxLength: 100, nullable: true }
                building: { type: string, maxLength: 100, nullable: true }
                floor: { type: string, maxLength: 50, nullable: true }
                capital: { type: string, maxLength: 100, nullable: true }
                registration_date: { type: string, format: date, nullable: true }
                legal_form: { type: string, maxLength: 100, nullable: true }
                company_purposes: { type: string, nullable: true }
                license_number: { type: string, maxLength: 100, nullable: true, description: Unique among non-deleted contractors. }
                cr_file: { $ref: "#/components/schemas/ProfileUpload" }
                id_file: { $ref: "#/components/schemas/ProfileUpload" }
                lease_or_ownership_contract: { $ref: "#/components/schemas/ProfileUpload" }
                company_approval_letter: { $ref: "#/components/schemas/ProfileUpload" }
                municipal_license: { $ref: "#/components/schemas/ProfileUpload" }
                company_register: { $ref: "#/components/schemas/ProfileUpload" }
                articles_of_association: { $ref: "#/components/schemas/ProfileUpload" }
                internal_bylaws: { $ref: "#/components/schemas/ProfileUpload" }
                bank_dealing_letter: { $ref: "#/components/schemas/ProfileUpload" }
                secretary_contract: { $ref: "#/components/schemas/ProfileUpload" }
                full_time_engineer_certificate: { $ref: "#/components/schemas/ProfileUpload" }
                accountant_certificate_or_contract: { $ref: "#/components/schemas/ProfileUpload" }
                partners_ids: { $ref: "#/components/schemas/ProfileUpload" }
                authorization_letter: { $ref: "#/components/schemas/ProfileUpload" }
                authorized_signature: { $ref: "#/components/schemas/ProfileUpload" }
      responses:
        "200":
          description: Updated profile.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/ContractorFull" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "422":
          description: "`phone_verification_required`, city not in governorate, or validation error."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }

  /contractor/auth/profile/phone/request-otp:
    post:
      tags: [Profile]
      summary: "Change phone step 1: send OTP to the new number"
      operationId: requestPhoneChangeOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, maxLength: 20, description: The new phone number. }
      responses:
        "200":
          description: OTP sent to the new number.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          expires_in: { $ref: "#/components/schemas/OtpCooldownSeconds" }
                          otp_preview: { $ref: "#/components/schemas/OtpPreview" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "422":
          description: "`same_phone`, `phone_taken`, or validation error."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "429": { $ref: "#/components/responses/OtpCooldown" }

  /contractor/auth/profile/phone/verify-otp:
    post:
      tags: [Profile]
      summary: "Change phone step 2: verify OTP"
      description: On success, the new phone may be saved via `POST /contractor/auth/profile/update` within 15 minutes.
      operationId: verifyPhoneChangeOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [otp]
              properties:
                otp: { type: string, minLength: 6, maxLength: 6 }
      responses:
        "200":
          description: Verified.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          phone: { type: string }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "422":
          description: "`invalid_otp` or validation error."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }

  /contractor/auth/logo:
    post:
      tags: [Profile]
      summary: Upload or replace the company logo
      operationId: updateLogo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [logo]
              properties:
                logo:
                  type: string
                  format: binary
                  description: jpg, jpeg, png or webp. Max 4 MB.
      responses:
        "200":
          description: Updated profile (`logo_url` reflects the new logo).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/ContractorFull" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /contractor/auth/profile/pdf:
    get:
      tags: [Profile]
      summary: Download the company profile as PDF
      description: Returns the PDF binary directly (not the JSON envelope).
      operationId: exportProfilePdf
      responses:
        "200":
          description: "PDF file (`Content-Disposition: attachment`)."
          content:
            application/pdf:
              schema: { type: string, format: binary }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/auth/profile/download-file/{field}:
    get:
      tags: [Profile]
      summary: Get a temporary signed download link for a profile file
      description: |
        Returns a 15-minute signed URL for one of the uploaded profile files.

        ⚠️ **Needs confirmation:** the controller builds the URL from the named route
        `contractor.download-file.signed`, but no route with that name is registered in
        `routes/api.php` or `routes/web.php`. As the code stands this call is expected to fail with
        `500`. Use the public `*_url` fields returned by the profile endpoint instead until this is fixed.
      operationId: downloadProfileFile
      parameters:
        - name: field
          in: path
          required: true
          schema: { $ref: "#/components/schemas/ProfileFileField" }
      responses:
        "200":
          description: Signed URL.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          signed_url: { type: string, format: uri }
        "400":
          description: Field not allowed.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "404":
          description: File not uploaded.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }

  /contractor/auth/change-password:
    post:
      tags: [Profile]
      summary: Change password (returns a new token)
      description: Revokes all tokens and issues a new one; the app must store the returned token.
      operationId: changePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password, new_password_confirmation]
              properties:
                current_password: { type: string, format: password }
                new_password: { type: string, format: password, minLength: 8 }
                new_password_confirmation: { type: string, format: password }
      responses:
        "200":
          description: Password changed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          token: { type: string }
                          token_type: { type: string, example: Bearer }
                          user: { $ref: "#/components/schemas/ContractorFull" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "422":
          description: Wrong `current_password` (in `errors.current_password`) or validation error.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }

  # ===================================================================
  # NOTIFICATIONS
  # ===================================================================
  /contractor/auth/notifications:
    get:
      tags: [Notifications]
      summary: Inbox (Laravel database notifications)
      description: |
        The "old" notification system (Laravel `notifications` table: profile reminders, payment
        confirmations, certificate updates, admin broadcasts, …). Unread first, then newest. 15 per page.
        ⚠️ Pagination is nested inside `items.notifications`, not in `meta`.
      operationId: listNotifications
      parameters:
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated notifications.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          notifications:
                            type: object
                            properties:
                              data:
                                type: array
                                items: { $ref: "#/components/schemas/InboxNotification" }
                              current_page: { type: integer }
                              last_page: { type: integer }
                              total: { type: integer }
                          unread_count: { type: integer }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/auth/notifications/unread-count:
    get:
      tags: [Notifications]
      summary: Inbox unread count
      operationId: notificationsUnreadCount
      responses:
        "200": { $ref: "#/components/responses/UnreadCount" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/auth/notifications/read:
    post:
      tags: [Notifications]
      summary: Mark all inbox notifications as read
      operationId: markAllNotificationsRead
      responses:
        "200": { $ref: "#/components/responses/UnreadCount" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/auth/notifications/{id}/mark-as-read:
    patch:
      tags: [Notifications]
      summary: Mark one inbox notification as read
      operationId: markNotificationRead
      parameters:
        - name: id
          in: path
          required: true
          description: Notification UUID.
          schema: { type: string, format: uuid }
      responses:
        "200": { $ref: "#/components/responses/UnreadCount" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "404": { $ref: "#/components/responses/NotFound" }

  /contractor/auth/app-notifications:
    get:
      tags: [Notifications]
      summary: App notifications (announcements and reminders)
      description: |
        The "new" notification system (`app_notifications`-style table with `type` =
        `announcement` | `payment_reminder` | `expiry_reminder`). Newest first.
      operationId: listAppNotifications
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage100"
      responses:
        "200":
          description: Paginated app notifications.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/AppNotification" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /contractor/auth/app-notifications/unread-count:
    get:
      tags: [Notifications]
      summary: App notifications unread count
      operationId: appNotificationsUnreadCount
      responses:
        "200": { $ref: "#/components/responses/UnreadCount" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/auth/app-notifications/{notification}:
    patch:
      tags: [Notifications]
      summary: Mark one app notification as read
      operationId: markAppNotificationRead
      parameters:
        - name: notification
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Marked as read.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          id: { type: integer }
                          read_at: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403":
          description: Not the owner, or forced logout.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===================================================================
  # HOME
  # ===================================================================
  /contractor/home:
    get:
      tags: [Home]
      summary: Home screen (single aggregated call)
      description: |
        Contractor card, membership status, financial summary, stats, certificate CTA, unread count and
        the latest 5 updates. `has_more` tells the app to show "View all" (→ `/contractor/home/updates`).
      operationId: getHome
      responses:
        "200":
          description: Home payload.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          contractor:
                            type: object
                            properties:
                              id: { type: integer }
                              name: { type: string }
                              membership_number: { type: string }
                              logo: { type: string, format: uri, nullable: true }
                              profile_data_complete: { type: boolean }
                              missing_profile_fields:
                                type: array
                                items: { type: string }
                                description: Arabic labels of missing required fields.
                          membership:
                            type: object
                            properties:
                              status: { $ref: "#/components/schemas/ContractorStatus" }
                              badge: { $ref: "#/components/schemas/MembershipBadge" }
                              expires_at: { type: string, format: date, nullable: true }
                              expiring_soon: { type: boolean }
                              days_remaining: { type: integer, nullable: true }
                          financial:
                            type: object
                            properties:
                              balance:
                                type: string
                                description: Total obligations in JOD (dues + unpaid penalties + pending payments), 2 decimals.
                                example: "150.00"
                              has_overdue: { type: boolean }
                              last_invoice:
                                type: object
                                nullable: true
                                properties:
                                  id: { type: integer }
                                  description: { type: string }
                                  amount_jod: { type: number }
                                  status: { $ref: "#/components/schemas/DueStatus" }
                                  due_date: { type: string, format: date, nullable: true }
                          stats:
                            type: object
                            properties:
                              events_count: { type: integer, description: Upcoming published events. }
                              announcements_count: { type: integer }
                              machinery_count: { type: integer, description: The contractor's own equipment. }
                              new_tenders_count: { type: integer, description: Open tenders created in the last 7 days. }
                          cta_certificate:
                            type: object
                            properties:
                              show: { type: boolean, example: true }
                              has_pending_dues: { type: boolean }
                              outstanding_amount: { type: number }
                          unread_notifications_count:
                            type: integer
                            description: Unread count of the Laravel inbox (`/contractor/auth/notifications`).
                          latest_updates:
                            type: array
                            items: { $ref: "#/components/schemas/FeedItem" }
                          latest_updates_total: { type: integer }
                          has_more: { type: boolean }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/home/updates:
    get:
      tags: [Home]
      summary: Full updates feed ("View all")
      description: |
        Merged feed of open tenders, news, pinned circulars, the contractor's dues, memberships and
        certificate requests. 20 per page. Each source is capped at 30 records before merging.
      operationId: getHomeUpdates
      parameters:
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: Paginated feed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/FeedItem" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/dashboard:
    get:
      tags: [Home]
      summary: Legacy dashboard summary
      description: Older summary endpoint. Prefer `/contractor/home`.
      operationId: getContractorDashboard
      responses:
        "200":
          description: Summary.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          contractor:
                            type: object
                            properties:
                              id: { type: integer }
                              name: { type: string }
                              membership_number: { type: string }
                              commercial_register: { type: string, nullable: true }
                              authorized_person: { type: string, nullable: true }
                              authorized_person_id_number: { type: string, nullable: true }
                              authorized_person_phone: { type: string, nullable: true }
                              authorized_person_whatsapp: { type: string, nullable: true }
                              classification: { type: string, nullable: true }
                              email: { type: string, nullable: true }
                              phone: { type: string, nullable: true }
                              city: { type: string, nullable: true }
                              address: { type: string, nullable: true }
                              status: { $ref: "#/components/schemas/ContractorStatus" }
                              is_frozen: { type: boolean }
                          membership:
                            allOf:
                              - $ref: "#/components/schemas/Membership"
                            nullable: true
                          stats:
                            type: object
                            properties:
                              total_payments: { type: number }
                              pending_payments: { type: integer }
                              total_documents: { type: integer }
                              total_equipment: { type: integer }
                              certificate_requests: { type: integer }
                              open_tickets: { type: integer }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  # ===================================================================
  # MEMBERSHIP & FINANCE
  # ===================================================================
  /contractor/subscription:
    get:
      tags: [Membership & Finance]
      summary: Subscription (membership) status object
      description: Single reusable object for membership state. Memberships end on 31 December of each year.
      operationId: getSubscription
      responses:
        "200":
          description: Subscription status.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/SubscriptionStatus" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/memberships:
    get:
      tags: [Membership & Finance]
      summary: Membership history
      operationId: listMemberships
      responses:
        "200":
          description: All memberships, newest first.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/Membership"
                            - type: object
                              properties:
                                notes: { type: string, nullable: true }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/renewal-eligibility:
    get:
      tags: [Membership & Finance]
      summary: Can the contractor renew membership?
      description: |
        Renewal is blocked by unpaid penalties, frozen account, administrative suspension, and — only
        when the `enforce_dues_blocking` setting is on — unpaid dues.
      operationId: getRenewalEligibility
      responses:
        "200":
          description: Eligibility.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          can_renew: { type: boolean }
                          issues:
                            type: array
                            items: { $ref: "#/components/schemas/RequirementIssue" }
                          outstanding_total_jod: { type: number }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/financial:
    get:
      tags: [Membership & Finance]
      summary: Financial file (dues, obligations, full statement)
      description: |
        Everything for the "Financial file" and "Dues" screens: summary card, current-year fee
        breakdown, tab badge counts, pending dues transfers, the dues list (filterable), obligations
        and a full statement (credit = paid by contractor, debit = owed).
        All amounts in the `summary` are strings with 2 decimals (JOD).
      operationId: getFinancial
      parameters:
        - name: status
          in: query
          required: false
          description: Filters only the `dues` array. `overdue` = not fully paid and past `due_date`.
          schema:
            type: string
            enum: [unpaid, partially_paid, paid, overdue]
      responses:
        "200":
          description: Financial file.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          summary:
                            type: object
                            properties:
                              total_paid: { type: string, example: "320.00" }
                              pending_payments: { type: string }
                              unpaid_penalties: { type: string }
                              outstanding_dues_jod: { type: string }
                              total_obligations: { type: string }
                              dues_total_jod: { type: string }
                              dues_paid_jod: { type: string }
                              dues_paid_percentage: { type: number }
                          current_year_fee_breakdown:
                            type: object
                            nullable: true
                            additionalProperties: true
                            description: Snapshot from the automatic fee engine for the current year (structure defined by the fee engine; not documented here).
                          dues_counts:
                            type: object
                            properties:
                              unpaid: { type: integer }
                              pending_review: { type: integer }
                          payment_history_counts:
                            type: object
                            properties:
                              partially_paid: { type: integer }
                              completed: { type: integer }
                          pending_dues_payments:
                            type: array
                            items:
                              type: object
                              properties:
                                id: { type: integer }
                                description: { type: string }
                                amount: { type: number }
                                currency: { $ref: "#/components/schemas/Currency" }
                                reference_number: { type: string, nullable: true }
                                receipt_image_url: { type: string, format: uri, nullable: true }
                                submitted_at: { type: string, format: date-time, nullable: true }
                          dues:
                            type: array
                            items: { $ref: "#/components/schemas/Due" }
                          obligations:
                            type: array
                            description: Statement lines with `direction = debit` and status not `rejected`.
                            items: { $ref: "#/components/schemas/StatementLine" }
                          statement:
                            type: array
                            items: { $ref: "#/components/schemas/StatementLine" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/balance:
    get:
      tags: [Membership & Finance]
      summary: Net balance (credit − debit) in JOD
      description: |
        Same calculation as the dashboard "Contractor balances" screen.
        `credit_jod` = unused credits + unallocated surplus of confirmed dues payments.
        `debit_jod` = remaining unpaid dues + remaining unpaid penalties.
      operationId: getBalance
      responses:
        "200":
          description: Balance.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          contractor_id: { type: integer }
                          name: { type: string }
                          membership_number: { type: string }
                          credit_jod: { type: number, example: 50.0 }
                          dues_jod: { type: number, example: 120.0 }
                          penalties_jod: { type: number, example: 0 }
                          debit_jod: { type: number, example: 120.0 }
                          net_jod: { type: number, example: -70.0, description: Negative = contractor owes the union. }
                          position:
                            type: string
                            enum: [credit, owes, settled]
                          subscription_status:
                            type: string
                            enum: [active, expired, pending, suspended]
                            example: expired
                            description: |
                              Subscription status, same rule as the dashboard balances and contractors pages.
                              For an active account it follows the balance only: `net_jod` < 0 (owes dues or
                              penalties) → `expired`, otherwise `active`. `pending` / `suspended` are the admin
                              account state, returned as is.
                          subscription_status_label:
                            type: string
                            example: منتهية
                            description: Arabic label as shown on the dashboard (فعّالة / منتهية / قيد المراجعة / موقوفة).
                          currency: { type: string, example: JOD }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  # ===================================================================
  # PAYMENTS
  # ===================================================================
  /contractor/payments:
    get:
      tags: [Payments]
      summary: Payment history (simple list)
      operationId: listPayments
      responses:
        "200":
          description: All payments, newest first (not paginated).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id: { type: integer }
                            amount: { type: number }
                            type: { $ref: "#/components/schemas/PaymentType" }
                            status: { $ref: "#/components/schemas/PaymentStatus" }
                            method: { type: string, nullable: true, example: bank_transfer }
                            reference_number: { type: string, nullable: true }
                            notes: { type: string, nullable: true }
                            paid_at: { type: string, format: date, nullable: true }
                            created_at: { type: string, format: date }
                            membership:
                              type: object
                              nullable: true
                              properties:
                                type: { type: string }
                                expires_at: { type: string, format: date, nullable: true }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/payments/transfer:
    get:
      tags: [Payments]
      summary: My submitted transfers (paginated, filterable)
      operationId: listMyTransfers
      parameters:
        - name: status
          in: query
          schema: { $ref: "#/components/schemas/PaymentStatus" }
        - name: type
          in: query
          schema: { $ref: "#/components/schemas/PaymentType" }
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Paginated payments.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/Payment" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
    post:
      tags: [Payments]
      summary: Submit a bank-transfer receipt
      description: |
        Creates a `pending` payment for the accountant to confirm. Accountants/admins are notified.

        Unless `type` is `dues_payment`, the request is rejected with `403 dues_pending` when renewal
        blockers exist (`errors.issues` lists them). Paying dues is always allowed.
      operationId: submitTransfer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [amount, receipt_image]
              properties:
                amount: { type: number, minimum: 1, example: 150 }
                currency:
                  allOf:
                    - $ref: "#/components/schemas/Currency"
                  description: Defaults to JOD.
                receipt_image:
                  type: string
                  format: binary
                  description: png, jpg, jpeg, webp or pdf. Max 5 MB.
                bank_account_id: { type: integer, nullable: true, description: From `/bank-accounts` or `/app/settings`. }
                membership_id: { type: integer, nullable: true }
                equipment_package_id: { type: integer, nullable: true, description: When paying for a marketplace package. }
                reference_number: { type: string, maxLength: 100, nullable: true }
                notes: { type: string, maxLength: 500, nullable: true }
                type:
                  allOf:
                    - $ref: "#/components/schemas/PaymentType"
                  description: Defaults to `membership_fee`. Free text up to 50 chars server-side.
      responses:
        "201":
          description: Transfer submitted.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/Payment" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403":
          description: "`dues_pending` with `errors.issues`, or forced logout."
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "422": { $ref: "#/components/responses/ValidationError" }

  /contractor/payments/{payment}:
    get:
      tags: [Payments]
      summary: Payment details
      operationId: getPayment
      parameters:
        - $ref: "#/components/parameters/PaymentId"
      responses:
        "200":
          description: Payment.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/Payment" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403":
          description: Not the owner, or forced logout.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /contractor/payments/{payment}/receipt:
    get:
      tags: [Payments]
      summary: Get a signed link to the official receipt PDF
      description: |
        Only for `paid` payments. The receipt PDF is generated in the background; `409` means it is not ready yet.

        ⚠️ **Needs confirmation:** the controller builds the link from the named route
        `contractor.payment-receipt.signed`, which is not registered in the routes files, so a
        successful call is expected to fail with `500` as the code stands. `Payment.receipt_pdf_url`
        can be used meanwhile.
      operationId: getPaymentReceipt
      parameters:
        - $ref: "#/components/parameters/PaymentId"
      responses:
        "200":
          description: Signed URL (valid 15 minutes).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          signed_url: { type: string, format: uri }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403":
          description: Not the owner, or forced logout.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404":
          description: Payment not confirmed (`paid`) yet.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "409":
          description: Receipt is still being generated; retry later.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }

  # ===================================================================
  # DOCUMENTS
  # ===================================================================
  /contractor/documents:
    get:
      tags: [Documents]
      summary: My documents
      description: |
        ⚠️ In this list `url` is the **raw storage path** (e.g. `documents/12/abc.pdf`), while the
        upload response returns a full URL. Prefix with `<host>/storage/` or confirm with the backend.
      operationId: listDocuments
      responses:
        "200":
          description: Documents, newest first.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/Document" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
    post:
      tags: [Documents]
      summary: Upload a document
      description: Stored with `type = tender`.
      operationId: uploadDocument
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [title, file]
              properties:
                title: { type: string, maxLength: 255 }
                file: { type: string, format: binary, description: Any file type. Max 10 MB. }
      responses:
        "201":
          description: Uploaded (`url` is a full public URL here).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/Document" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /contractor/documents/{document}:
    delete:
      tags: [Documents]
      summary: Delete one of my documents
      operationId: deleteDocument
      parameters:
        - name: document
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200": { $ref: "#/components/responses/OkNoItems" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403":
          description: Not the owner, or forced logout.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===================================================================
  # CERTIFICATES
  # ===================================================================
  /contractor/certificate-requests:
    get:
      tags: [Certificates]
      summary: Certificate request screen data
      operationId: listCertificateRequests
      responses:
        "200":
          description: Eligibility and my requests.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          contractor:
                            type: object
                            properties:
                              name: { type: string }
                              membership_number: { type: string }
                              status: { $ref: "#/components/schemas/ContractorStatus" }
                              is_frozen: { type: boolean }
                          can_request: { type: boolean }
                          requirement_issues:
                            type: array
                            items: { $ref: "#/components/schemas/RequirementIssue" }
                          profile_data_complete: { type: boolean }
                          missing_profile_fields:
                            type: array
                            items: { type: string }
                          requests:
                            type: array
                            items: { $ref: "#/components/schemas/CertificateRequest" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
    post:
      tags: [Certificates]
      summary: Request a certificate
      description: |
        Rejected with `403` when not eligible: `profile_incomplete`, `requirements_pending`, or
        `dues_below_threshold` (membership certificate requires a minimum paid percentage of the
        current year's dues; `errors` carries context). A request may be accepted while a fee payment
        is still pending accountant confirmation (`awaiting_payment_confirmation = true`).
        Only one `pending`/`approved` request per type at a time (`422`).
      operationId: createCertificateRequest
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [type]
              properties:
                type: { $ref: "#/components/schemas/CertificateType" }
                notes: { type: string, maxLength: 500, nullable: true }
                attachment:
                  type: string
                  format: binary
                  description: png, jpg, jpeg, webp or pdf. Max 5 MB.
      responses:
        "201":
          description: Request created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/CertificateRequest" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403":
          description: Not eligible (see description), or forced logout.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "422":
          description: Duplicate open request of the same type, or validation error.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }

  /contractor/certificates/status:
    get:
      tags: [Certificates]
      summary: Certificates status card (membership + classification)
      operationId: getCertificatesStatus
      responses:
        "200":
          description: Status.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        properties:
                          membership:
                            type: object
                            properties:
                              eligible: { type: boolean }
                              paid_percentage: { type: number, description: Percentage of current-year dues paid. }
                              required_percent: { type: number, example: 95 }
                              remaining_to_95_jod: { type: number }
                              current_year: { type: integer, example: 2026 }
                              outstanding_jod: { type: number }
                              requirement_issues:
                                type: array
                                items: { $ref: "#/components/schemas/RequirementIssue" }
                              profile_data_complete: { type: boolean }
                              membership_valid_until: { type: string, format: date, nullable: true }
                              is_expired: { type: boolean }
                              latest_request:
                                allOf:
                                  - $ref: "#/components/schemas/CertificateRequest"
                                nullable: true
                          classification:
                            type: object
                            properties:
                              has_certificate: { type: boolean }
                              certificate_url: { type: string, format: uri, nullable: true }
                              latest_request:
                                allOf:
                                  - $ref: "#/components/schemas/CertificateRequest"
                                nullable: true
                              message:
                                type: string
                                nullable: true
                                description: Shown when no classification certificate exists (visit the union office).
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /certificates/verify/{token}:
    get:
      tags: [Certificates]
      summary: Verify a certificate from its QR code (public)
      description: Always `200`. `valid = false` for unknown/invalid tokens or certificates not `issued`.
      operationId: verifyCertificate
      security: []
      parameters:
        - name: token
          in: path
          required: true
          description: Encrypted token embedded in the certificate QR code (URL-encoded).
          schema: { type: string }
      responses:
        "200":
          description: Verification result.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: object
                        required: [valid]
                        properties:
                          valid: { type: boolean }
                          contractor_name: { type: string }
                          membership_number: { type: string }
                          type_label: { type: string }
                          serial: { type: string, example: MC-000123 }
                          issued_at: { type: string, format: date-time }
                          membership_valid_until: { type: string, format: date, nullable: true }

  # ===================================================================
  # SUPPORT
  # ===================================================================
  /contractor/support-tickets:
    get:
      tags: [Support]
      summary: My support tickets
      operationId: listSupportTickets
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Paginated tickets.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/SupportTicket" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
    post:
      tags: [Support]
      summary: Open a support ticket
      operationId: createSupportTicket
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [subject, whatsapp_phone, category, message]
              properties:
                subject: { type: string, maxLength: 255 }
                whatsapp_phone: { type: string, maxLength: 20 }
                category: { $ref: "#/components/schemas/TicketCategory" }
                message: { type: string, maxLength: 5000 }
                attachment:
                  type: string
                  format: binary
                  description: png, jpg, jpeg, webp or pdf. Max 5 MB.
      responses:
        "201":
          description: Ticket created.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/SupportTicket" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "422": { $ref: "#/components/responses/ValidationError" }

  /contractor/support-tickets/{ticket}:
    get:
      tags: [Support]
      summary: Ticket details with conversation
      operationId: getSupportTicket
      parameters:
        - $ref: "#/components/parameters/TicketId"
      responses:
        "200":
          description: Ticket.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/SupportTicketDetails" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403":
          description: Not the owner, or forced logout.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /contractor/support-tickets/{ticket}/reply:
    post:
      tags: [Support]
      summary: Add a follow-up message to my ticket
      description: Not allowed on `closed` tickets. An `answered` ticket goes back to `open`.
      operationId: replySupportTicket
      parameters:
        - $ref: "#/components/parameters/TicketId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string, maxLength: 5000 }
      responses:
        "200":
          description: Updated ticket.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/SupportTicketDetails" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403":
          description: Not the owner, or forced logout.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: Ticket closed, or validation error.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }

  # ===================================================================
  # TENDERS
  # ===================================================================
  /contractor/tenders:
    get:
      tags: [Tenders]
      summary: Browse tenders (authenticated)
      description: Includes `union_notes` and `is_bookmarked`. Supports all tender filters.
      operationId: listContractorTenders
      parameters: &tenderFilters
        - $ref: "#/components/parameters/TenderSearch"
        - $ref: "#/components/parameters/TenderStatus"
        - $ref: "#/components/parameters/TenderCategory"
        - $ref: "#/components/parameters/TenderScope"
        - $ref: "#/components/parameters/TenderStates"
        - $ref: "#/components/parameters/TenderBookmarkedOnly"
        - $ref: "#/components/parameters/TenderSort"
        - { name: created_from, in: query, description: Publish date from (Y-m-d)., schema: { type: string, format: date } }
        - { name: created_to, in: query, description: Publish date to (Y-m-d)., schema: { type: string, format: date } }
        - { name: deadline_from, in: query, schema: { type: string, format: date } }
        - { name: deadline_to, in: query, schema: { type: string, format: date } }
        - { name: updated_from, in: query, schema: { type: string, format: date } }
        - { name: updated_to, in: query, schema: { type: string, format: date } }
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Paginated tenders.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/Tender" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/tenders/bookmarked:
    get:
      tags: [Tenders]
      summary: My bookmarked tenders
      operationId: listBookmarkedTenders
      parameters: *tenderFilters
      responses:
        "200":
          description: Paginated bookmarked tenders.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/Tender" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/tenders/{tender}:
    get:
      tags: [Tenders]
      summary: Tender details (authenticated)
      operationId: getContractorTender
      parameters:
        - $ref: "#/components/parameters/TenderId"
      responses:
        "200":
          description: Tender.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/Tender" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "404": { $ref: "#/components/responses/NotFound" }

  /contractor/tenders/{tender}/bookmark:
    post:
      tags: [Tenders]
      summary: Bookmark a tender (idempotent)
      operationId: bookmarkTender
      parameters:
        - $ref: "#/components/parameters/TenderId"
      responses:
        "200": { $ref: "#/components/responses/OkNoItems" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Tenders]
      summary: Remove a tender bookmark (idempotent)
      operationId: unbookmarkTender
      parameters:
        - $ref: "#/components/parameters/TenderId"
      responses:
        "200": { $ref: "#/components/responses/OkNoItems" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "404": { $ref: "#/components/responses/NotFound" }

  /tenders-public:
    get:
      tags: [Tenders]
      summary: Browse tenders (public, no auth)
      description: "`union_notes` is always null and `is_bookmarked` always false. `my_specialties` scope and `bookmarked` filter have no effect."
      operationId: listPublicTenders
      security: []
      parameters:
        - $ref: "#/components/parameters/TenderSearch"
        - $ref: "#/components/parameters/TenderStatus"
        - $ref: "#/components/parameters/TenderCategory"
        - $ref: "#/components/parameters/TenderScope"
        - $ref: "#/components/parameters/TenderStates"
        - $ref: "#/components/parameters/TenderSort"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Paginated tenders.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/Tender" }

  /tenders-public/{tender}:
    get:
      tags: [Tenders]
      summary: Tender details (public)
      operationId: getPublicTender
      security: []
      parameters:
        - $ref: "#/components/parameters/TenderId"
      responses:
        "200":
          description: Tender.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/Tender" }
        "404": { $ref: "#/components/responses/NotFound" }

  /tender-categories-public:
    get:
      tags: [Tenders]
      summary: Active tender categories (public)
      description: Use `name` as the `category` filter value.
      operationId: listTenderCategories
      security: []
      responses:
        "200":
          description: Categories.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id: { type: integer }
                            name: { type: string }
                            image_url: { type: string, format: uri, nullable: true }

  # ===================================================================
  # CIRCULARS & ANNOUNCEMENTS
  # ===================================================================
  /contractor/circulars/pending:
    get:
      tags: [Circulars & Announcements]
      summary: Pinned circulars not yet acknowledged
      description: Show as a pop-up on app open until each is acknowledged.
      operationId: listPendingCirculars
      responses:
        "200":
          description: Pending circulars.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/Announcement" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/circulars/{announcement}/acknowledge:
    post:
      tags: [Circulars & Announcements]
      summary: Acknowledge reading a circular (idempotent)
      operationId: acknowledgeCircular
      parameters:
        - $ref: "#/components/parameters/AnnouncementId"
      responses:
        "200": { $ref: "#/components/responses/OkNoItems" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "404": { $ref: "#/components/responses/NotFound" }

  /contractor/announcements/{announcement}:
    get:
      tags: [Circulars & Announcements]
      summary: Announcement details (authenticated, for notification deep links)
      description: Same response as the public `GET /announcements/{announcement}`.
      operationId: getContractorAnnouncement
      parameters:
        - $ref: "#/components/parameters/AnnouncementId"
      responses:
        "200": { $ref: "#/components/responses/AnnouncementOne" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "404":
          description: Not found, unpublished, scheduled for the future, or expired.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }

  /announcements:
    get:
      tags: [Circulars & Announcements]
      summary: Announcements archive (public)
      operationId: listAnnouncements
      security: []
      parameters:
        - { name: search, in: query, description: "Matches title, number or body.", schema: { type: string } }
        - name: filter
          in: query
          description: "`urgent` = pinned only (takes precedence over `category`)."
          schema: { type: string, enum: [urgent] }
        - { name: category, in: query, description: Category text; `all` = no filter., schema: { type: string } }
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Paginated announcements with extra counters in `meta`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: boolean }
                  message: { type: string }
                  status_code: { type: integer }
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/Announcement" }
                  meta:
                    allOf:
                      - $ref: "#/components/schemas/PaginationMeta"
                      - type: object
                        properties:
                          all_count: { type: integer }
                          urgent_count: { type: integer }
                          categories:
                            type: array
                            items:
                              type: object
                              properties:
                                value: { type: string }
                                label: { type: string }
                                count: { type: integer }

  /announcements/{announcement}:
    get:
      tags: [Circulars & Announcements]
      summary: Announcement details (public)
      operationId: getAnnouncement
      security: []
      parameters:
        - $ref: "#/components/parameters/AnnouncementId"
      responses:
        "200": { $ref: "#/components/responses/AnnouncementOne" }
        "404":
          description: Not found, unpublished, scheduled for the future, or expired.
          content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }

  # ===================================================================
  # EVENTS
  # ===================================================================
  /contractor/events:
    get:
      tags: [Events]
      summary: Browse events (authenticated, with RSVP state)
      description: Ordered by event date ascending.
      operationId: listContractorEvents
      parameters:
        - { name: search, in: query, schema: { type: string } }
        - name: scope
          in: query
          schema: { type: string, enum: [active, archived] }
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: Paginated events.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/ContractorEvent" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }

  /contractor/events/{event}:
    get:
      tags: [Events]
      summary: Event details (authenticated)
      operationId: getContractorEvent
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200":
          description: Event.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items: { $ref: "#/components/schemas/ContractorEvent" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "404": { $ref: "#/components/responses/NotFound" }

  /contractor/events/{event}/join:
    post:
      tags: [Events]
      summary: Join an event (RSVP, idempotent)
      operationId: joinEvent
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200": { $ref: "#/components/responses/OkNoItems" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Events]
      summary: Cancel RSVP (idempotent)
      operationId: leaveEvent
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200": { $ref: "#/components/responses/OkNoItems" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "403": { $ref: "#/components/responses/ForceLogout" }
        "404": { $ref: "#/components/responses/NotFound" }

  /events/latest:
    get:
      tags: [Events]
      summary: Next 3 published events (public)
      operationId: latestEvents
      security: []
      responses:
        "200":
          description: Up to 3 events.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/EventSummary" }

  /events:
    get:
      tags: [Events]
      summary: Published events (public)
      operationId: listEvents
      security: []
      parameters:
        - { name: search, in: query, schema: { type: string } }
        - $ref: "#/components/parameters/Page"
        - { name: per_page, in: query, schema: { type: integer, default: 9 } }
      responses:
        "200":
          description: Paginated events.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedEnvelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/EventSummary" }

  /events/{slug}:
    get:
      tags: [Events]
      summary: Event details by slug (public)
      description: |
        Full event model plus `stream_available`, normalized `speakers`, and `author`.
        `stream_url` is null except on the event day; `event_location` is null for online events.
      operationId: getEventBySlug
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Event.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        allOf:
                          - $ref: "#/components/schemas/EventSummary"
                          - type: object
                            properties:
                              body: { type: string, description: HTML. }
                              event_format: { $ref: "#/components/schemas/EventFormat" }
                              event_type: { type: string, enum: [international, institutional, local], nullable: true }
                              is_international: { type: boolean }
                              stream_url: { type: string, format: uri, nullable: true }
                              stream_available: { type: boolean }
                              speakers:
                                type: array
                                items: { $ref: "#/components/schemas/Speaker" }
                              is_archived: { type: boolean }
                              author:
                                type: object
                                nullable: true
                                properties:
                                  id: { type: integer }
                                  name: { type: string }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===================================================================
  # NEWS
  # ===================================================================
  /news/latest:
    get:
      tags: [News]
      summary: Latest 3 news (public)
      operationId: latestNews
      security: []
      responses:
        "200":
          description: Up to 3 news items.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      items:
                        type: array
                        items: { $ref: "#/components/schemas/NewsSummary" }

  /news:
    get:
[...]
